# run this command to add a remote to the .gitconfig file
# > git config --local include.path ../.gitconfig
# to add a remote to the .gitconfig file
# > git rl testremote git@github.com:or/other/provider.git
# to add a subtree to the .gitconfig file
# > git st path/to/subtree remote_or_url branch [--squash]

[alias]
     rl = "!f() { git config -f .gitconfig --add remote.\"$1\".url \"$2\"; git config -f .gitconfig --add remote.\"$1\".fetch \"+refs/heads/*:refs/remotes/origin/*\"; }; f"
     st = "!f() { a1=$1; a2=$2; shift;shift; a3=$@; git subtree add --prefix \"$a1\" \"$a2\" $a3; }; f"

[remote "test1"]
        url = git@github.com:blinkinglight/test-repo2.git
        fetch = +refs/heads/*:refs/remotes/origin/*

[remote "testremote"]
	url = git@github.com:blinkinglight/test-repo2.git
	fetch = +refs/heads/*:refs/remotes/origin/*
